<div class="container pb-7">
	<div class="md:w-1/4 mx-auto">
		<img src="/img/logo-louis-homecooking-orange.png" class="h-28 mx-auto" alt="">
		<div class="pt-5 gap-2">
			<span class="font-bold text-brand-green text-[10px] flex justify-center items-center">
				<span class="mr-2 block">Powered by</span>
				<img src="/img/logo-cookk.png" class="h-4" alt="">
				.
			</span>
		</div>
		<div class="flex justify-center gap-6 pt-5">
			<a href="/" class="text-brand-green hover:text-brand-green-dark uppercase font-light text-sm">Instagram</a>
			<a href="/" class="text-brand-green hover:text-brand-green-dark uppercase font-light text-sm">Facebook</a>
		</div>
	</div>
</div>
<div class="bg-[#f2f2f2]">
	<div class="container py-1">
		<span class="text-center text-xs font-light text-brand-green block">© Louis Homecooking. Alle rechten voorbehouden. Webdesign by Respons.</span>
	</div>
</div>
