<div class="absolute z-50 mx-auto inset-x-0">
	<div class="container pt-6 lg:pt-14 pb-6">
		<ul class="hidden lg:flex justify-center gap-6">
			<li>
				<a href="/" class="uppercase text-white transition-colors duration-300 ease-linear hover:text-brand-orange font-semibold">Home</a>
			</li>
			<li>
				<a href="/" class="uppercase text-white transition-colors duration-300 ease-linear hover:text-brand-orange">OVER ONS</a>
			</li>
			<li>
				<a href="/" class="uppercase text-white transition-colors duration-300 ease-linear hover:text-brand-orange">Homecooking</a>
			</li>
			<li>
				<a href="/" class="uppercase text-white transition-colors duration-300 ease-linear hover:text-brand-orange">EVENTS</a>
			</li>
			<li>
				<a href="/" class="uppercase text-white transition-colors duration-300 ease-linear hover:text-brand-orange">AFHAAL</a>
			</li>
			<li>
				<a href="/" class="uppercase text-white transition-colors duration-300 ease-linear hover:text-brand-orange">FOTOGALLERIJ</a>
			</li>
			<li>
				<a href="/" class="uppercase text-white transition-colors duration-300 ease-linear hover:text-brand-orange">Contact</a>
			</li>
		</ul>
		<div class="flex lg:hidden justify-end">
			<svg class="text-white h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
		</div>
	</div>
</div>
